[

{
	"input":[
		{"name":"resonite","count":5},
		{"name":"zoastone","count":1}
	],
	"output":[
		{"name":"agirezon","count":6}
	],
	"delay":7,
	"shaped":true
},{
	"input":[
		{"name":"zoastone","count":1},
		{"name":"resonite","count":5}
	],
	"output":[
		{"name":"agirezon","count":5}
	],
	"delay":10,
	"shaped":true
},{
	"input":[
		{"name":"coalore","count":300},
		{"name":"liquidlava","count":40}
	],
	"output":[
		{"pool":"kazfallsDiamond"}
	],
	"delay":20
},{
	"input":[
		{"item":"ironbar","count":2},
		{"item":"coalore","count":10}
	],
	"output":[
		{"item":"durasteelore","count":1}
	],
	"delay":15
},{
	"input":[
		{"item":"liquidwater","count":1},
		{"item":"liquidlava","count":1}
	],
	"output":[
		{"item":"obsidian","count":1}
	],
	"delay":5
}

]